$o-colors-is-silent: true;
@import 'o-colors/main';

$o-fonts-is-silent: true;
@import 'o-fonts/main';

@include oFontsInclude(MetricWeb, semibold);

body {
  background-color: oColorsGetPaletteColor("pink");
  margin: 0;
  padding: 0;
}

.header-logo {
  height: 66px;
  background-position: center;
  background-repeat: no-repeat;
}

.header-brand {
  background-color: oColorsGetPaletteColor("org-b2c");
  font-family: oFontsGetFontFamilyWithFallbacks(MetricWeb);
  color: oColorsGetPaletteColor("white");
  font-size: 18px;
  line-height: 42px;
  padding-left: 18px;
}

$loading-spinner-framerate: .7s;
.loading-spinner  {
  width: 100px;
  height: 100px;
  display: block;
  margin:40px auto 0 auto;

  -webkit-animation: play $loading-spinner-framerate steps(8) infinite;
  -moz-animation: play $loading-spinner-framerate steps(8) infinite;
  -ms-animation: play $loading-spinner-framerate steps(8) infinite;
  -o-animation: play $loading-spinner-framerate steps(8) infinite;
  animation: play $loading-spinner-framerate steps(8) infinite;
}

@-webkit-keyframes play {
  from { background-position:    0px; }
  to { background-position: -800px; }
}

@-moz-keyframes play {
  from { background-position:    0px; }
  to { background-position: -800px; }
}

@-ms-keyframes play {
  from { background-position:    0px; }
  to { background-position: -800px; }
}

@-o-keyframes play {
  from { background-position:    0px; }
  to { background-position: -800px; }
}

@keyframes play {
  from { background-position:    0px; }
  to { background-position: -800px; }
}


.chat {
  overflow-y:auto;
  height: 300px;
  border-bottom: solid 1px #979797;
}
.chat__message {
  position: relative;
  font-family: Georgia;
  font-size: 18px;
  text-align: justify;
  border-radius: 4px;
  width: 98%;
  margin: 10px auto;
  min-height: 36px;
}

.chat__message--operator {
  background-color: #fff;
  &:after {
    border-color: transparent #fff;
  }
}

.chat__message--client {
  background-color: oColorsGetPaletteColor("pink-tint2");
  &:after {
    border-color: transparent oColorsGetPaletteColor("pink-tint2");
  }
}

.chat__message:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 6px 15px 6px 0;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 5px;
  clear: both;
}

.chat__message__item {
  display: inline-block;
  margin: 10px;
}

.chat__message__item:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
